.card {
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid white;
  height: 400px;
  
  
}

.card>img {
  object-fit: fill;
  max-width: 500px;
  max-height: 350px;
  width: 100%;
}

.card__info {
  margin-top: -9px;
  border-radius: 10px;
  padding: 20px;
  padding-top: 20px;
  border: 1;
  color: white;
}

.card__info>h2 {
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.card__info>h4 {
  font-size: 14px;
  font-weight: 300;
  margin-top: 8px;
  margin-bottom: 8px;
  color: white;
}