.home__section{
    padding: 30px;
}
.row__1{
    display: flex;
    justify-content: space-around;
}
.row__2{
    display: flex;
    justify-content: space-around;
}
.row__3{
    display: flex;
    justify-content: space-around;
}
@media (max-width:990px) {
    .home__section{
        padding: 0px;
    }
.row__1{
    justify-content: space-around;
    width: 100%;
}
.row__2{
    justify-content: space-around;
    width: 100%;
}
.row__3{
    justify-content: space-around;
    width: 100%;
}
}