.innerBox {
    background: #ffffff;
    box-shadow: 0px 0px 6px 0px #a5a5a5;
    border-radius: 5px;
    padding: 30px;
    font-size: 20px;
}
.outerBox {
    height: 60vh;
    background: #f1f1f1;
    padding: 0 20px;
    margin: 100px 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 6px 0px #a5a5a5;
    border-radius: 5px;
}
