.footer {
    border-top: 1px solid lightgray;
    padding: 20px;
    background-color: #f7f7f7;
    text-align: center;
    
}

.footer>p {
    padding: 5px;
    font-size: 14px;
}

.footer__b {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.footer__bi {
    display: flex;
    margin-right: 5px;
    background-color: black;
    color: white;
}