.searchPage__info{
    padding: 3px;
}
.searchPage__info >h1 {
    margin-bottom: 30px;
}
.searchPage__info >button {
    border-radius: 30px;
    text-transform: inherit;
    margin:5px;
}
.button {
    width: 500px;
}
@media (max-width: 990px) {
    .searchPage{
        width: 100%;
        margin-left: 0px;
    }
    .searchPage__info >h1 {
        margin-bottom: 10px;
    }
    .searchPage__info >button {
        border-radius: 40px;
        text-transform: inherit;
        margin:2px;
    }

}